html{
    scroll-behavior: smooth;
}

body{
    background-image: url("./images/background.png");
    margin: 0px;
}

main{
    display: flex;
    flex-direction: column;
    margin: 0px 80px;
}

header{
    align-self: center;
}

h1{
    font-size: 52pt;
}

h2{
    font-size: 32pt;
}

h3{
    font-size: 18pt;
}

p, li, a{
    font-size: 22pt;
}

.web-card{
    background-color: rgb(88, 88, 255);
    box-shadow: 12.5px 12.5px 12.5px rgb(137, 137, 255), 25px 25px 25px rgb(255, 187, 187);
    border-radius: 25px;
    display: flex;
    margin-bottom: 35px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.web-card-header{
    padding: 25px 0px;
    margin-left: 50px;
    width: 100%;
}

.web-card-body{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
}

.web-card-info{
    width: 60%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.web-card-image{
    width: 40%;
    margin-left: 50px;
    margin: auto;
    padding: 0px 20px;
}

.web-card-footer{
    color: black;
    width: 100%;
    margin-left: 50px;
    padding: 10px 0px;
}