body{
    margin: 0px;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}

.header-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
}

.header-link{
    text-decoration: none;
    padding: 20px 40px;
    background-color: rgb(17, 98, 7);
    color: white;
    border-radius: 10px;
    min-width: 200px;
    text-align: center;
    box-shadow: 10px 10px 10px rgb(7, 58, 0);
}

.header-link:hover{
    padding: 22px 42px;
    background-color: rgb(24, 202, 7);
}

.grid{
    width: 80%;
    display: grid;
    margin: 40px auto;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.grid-header{
    grid-column: 1 / 3;
    background-color: black;
    color: white;
    padding: 20px 0px;
    border: 3px solid black;
}

.column-header{
    background-color: rgb(17, 98, 7);
    color: white;
    padding: 20px 0px;
    border: 3px solid black;
}

.grid-cell{
    padding: 20px 0px;
    border: 3px solid black;
}