html{
    scroll-behavior: smooth;
}

body{
    background-image: url("./images/greyback.jpg");
    margin: 0px;
}

main{
    display: flex;
    flex-direction: column;
    margin: 0px 80px;
}

h1{
    font-size: 44pt;
    color: rgb(44, 44, 99);
}

h2{
    font-size: 32pt;
}

p, li, a{
    font-size: 18pt;
}

.header-image{
    width: 100%;
}

.plant-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.plant-card-header{
    padding: 10px 0px;
    margin: 0px;
    width: 100%;
}

.plant-card-body{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
}

.plant-card-info{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.plant-card-image{
    margin: auto;
    padding: 0px 20px;
}

.plant-card-footer{
    width: 100%;
    padding: 10px 0px;
    margin: 0px;
}
